*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 5.2rem;
}

body{
    background-color: #f5f5f5;
    max-width: 1100px;
    margin: auto;
}

img{
    max-width: 100%;
    display: block;
}

header{
    margin: auto;
}

header a{
    padding: 2rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

header a:hover{
    text-decoration: underline;
}

.bg_img{
    background-image:url(Images/header_image.png);
    min-height: 500px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.domus{
    position: absolute;
    margin: auto;
    top: -0.2rem;
    left: 16px;
    font-size: 1.8rem;
    font-weight: bold;
}

.container{
    position: absolute;
    width: auto;
    top: 2.5rem;
    right: 1rem;
}

header ul{
    justify-content: space-between;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 0.8rem;
    background-color: aqua;
}

header li{
    text-transform: uppercase;
    width: 100%;
    list-style: none;
}


h1{
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    padding-top: 3.75rem;
}

h2{
    text-transform: uppercase;
    font-size: 2.25rem;
    padding-bottom: 1rem
}

.section-hero p{
    padding: 1.25rem 0 5rem;
    font-style: italic;
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem;
}

.flex{
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 3rem;
}

.flex img{
    width: 100%;
}

.reverse{
    flex-direction: row-reverse;
}

.testo-reverse{
    width: 60%;
    padding-left: 2.5rem;
    color: white;
}

.testo{
    width: 60%;
    padding-right: 2.5rem;
    color: white;
}

.immagine{
    width: 40%;
}

.anni{
    margin: 0 2rem 7.5rem 2rem;
}

.trenta{
    background-color: #08BA49;
}

.quaranta{
    background-color: rgba(255, 174, 104, 0.842);
}

.cinquanta{
    background-color: rgb(172, 172, 172); 
}

.sessanta{
    background-color: rgba(237, 197, 34, 0.885); 
}

.settanta{
    background-color: rgba(190, 39, 0, 0.5); 
}

footer{
    display: flex;
    margin: auto;
    background-color: #202020;
    align-items: center;
    gap: 1.8rem;
    justify-content: space-between;
    padding: 1.8rem;
}

.testo-footer{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.link a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer ul {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    align-items: center;
}

@media (max-width: 600px) {
    
    .flex{
        flex-direction: column;
        padding-bottom: 3.75rem;
    }
    
    .testo,.testo-reverse,.immagine{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .testo{
        padding-left: 2.5rem;
    }

    .testo-reverse{
        padding-right: 2.5rem;
    }

    header ul{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}